[alias]
  # General
  s = status
  a = add
  aa = add --all
  c = commit
  p = push
  pu = push -u origin
  d = diff
  dc = diff --cached

  # branch
  b = branch
  bd = branch -D
  ch = checkout
  chb = checkout -b

  # stash
  st = stash
  sts = stash save
  stl = stash list
  sta = "!f() { git stash apply stash@{$1}; }; f"
  std = "!f() { git stash drop stash@{$1}; }; f"

  prune = remote prune origin

[core]
	# Use custom `.gitignore`
	excludesfile = ~/.gitignore
	# Treat spaces before tabs, lines that are indented with 8 or more spaces, and all kinds of trailing whitespace as an error
	whitespace = space-before-tab,indent-with-non-tab,trailing-space
	editor = vim
[color]
	# Use colors in Git commands that are capable of colored output when outputting to the terminal
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow
	frag = magenta
	old = red
	new = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[user]
	name = guyfedwards
	email = guyfedwards@gmail.com
[push]
	default = simple
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
