[alias]
  # General
  s = status
  a = add
  aa = add --all
  c = commit
  p = push
  pu = "!f() { git push -u origin `git branch | grep '*' | awk '{print $2}'`; }; f"
  pun = "!f() { git push --no-verify -u origin `git branch | grep '*' | awk '{print $2}'`; }; f"
  d = diff
  dc = diff --cached
  amend = commit --amend --no-edit
  # pickaxe, search all commit contents for string
  px = log -p -S

  dbs = !git diff --stat $(git merge-base HEAD develop)

  # branch
  b = branch
  bd = branch -D
  ch = checkout
  chb = checkout -b

  # stash
  st = stash
  sts = stash save
  stl = stash list
  sta = "!f() { git stash apply stash@{$1}; }; f"
  std = "!f() { git stash drop stash@{$1}; }; f"
  stsh = "!f() { git stash show -p stash@{$1}; }; f"

  low = "!f() { echo 'To the window, to the wall'; }; f"
  l = log --oneline --graph --decorate
  lp = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short

  prune = remote prune origin

[branch]
  autosetuprebase = always
  sort = -committerdate
[core]
  # Use custom `.gitignore`
  excludesfile = ~/.gitignore
  # Treat spaces before tabs, lines that are indented with 8 or more spaces, and all kinds of trailing whitespace as an error
  whitespace = space-before-tab,trailing-space
  editor = nvim

[color]
  # Use colors in Git commands that are capable of colored output when outputting to the terminal
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow
  frag = magenta bold
  old = red bold
  new = green bold
  commit = yellow bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[delta]
  side-by-side = true
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[fetch]
  prune = true
  pruneTags = true
  all = true
[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true
[help]
  autocorrect = prompt
[init]
  defaultBranch = main
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[pull]
  rebase = true
[rebase]
  stat = true
  updateRefs = true
  autoStash = true
[rerere]
  enabled = true
  autoupdate = true
[tag]
  sort = version:refname
[user]
  name = guyfedwards
  email = guyfedwards@gmail.com
