* {
    font-size: 8px;
    font-family: "Meslo LG S";
    min-height: 0;
}

window#waybar {
    background: #292b2e;
    color: #fdf6e3;
}

#workspaces button {
    padding: 1px 0 0;
    color: #636467;
}

#workspaces button:first-child {
    padding-left: 3px;
}

#workspaces button.focused,
#workspaces button:hover {
    color: #fdf6e3;
}

#workspaces button.urgent {
    color: #f6511d;
}

#workspaces button:hover {
    background: transparent;
    border-color: transparent;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button:not(:first-child):hover {
    padding: 0;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-docker,
#custom-yay,
#memory,
#network,
#pulseaudio,
#temp,
#tray {
    padding: 1px 0 0 10px;
}

#clock {
    padding-right: 10px;
}

#tray {
    padding-right: 0;
}

#pulseaudio {
    color: #268bd2;
}

#backlight {
    color: #b58900
}

#memory {
    color: #2aa198;
}

#temperature {
    color: #b58900
}

#temperature.critical {
    color: #df2935;
}

#cpu {
    color: #6c71c4;
}

#network.disconnected {
    color: #df2935;
}

#battery {
    color: #859900;
}

#battery.charging {
    color: #c2e000;
}

#battery.warning {
    /* color: #f3d34a; */
    color: #ffb400;
}

#battery.critical {
    /* color: #df2935; */
    color: #f6511d;
}

#custom-docker {
    color: #0db7ed;
}

#custom-spotify {
    color: #1DB954;
}

#custom-yay {
    font-family: "Meslo LG S, font-logos";
    color: #1793d1;
}
